:root {
    --bg:#f1e7e7;
    --width:80%
}
*
{  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a
{
    color: #333;
    text-decoration: none;
} 
.flex {
    display: flex;
    align-items: center;
}

.flex.sub {
    justify-content: space-between;
    height: 200px;
    padding: 25px 0;
    background-color: var(--bg);
}
header img {
    width:150px; 
}

div > input {
    font-size: 20px;
}

.find > input{
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    border: 1px dotted white;
}

header ul.menu > li {
    list-style-type: none;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid beige;
    background-color: beige;
    margin: 3px;
}

header ul.menu > li > a {
   display: block;
   text-decoration: none;
   padding: 10px;
}

header ul.menu > li > a:hover {
    background-color: darkblue;
    color: white;
    border-radius: 15px 15px 15px 15px;
}

div.ads img {
    width: 500px;
    display: block;
    padding: 5px;
    margin: 5px;
    align-items: center;
}
footer 
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: var(--bg) ;
}

.footer__container__contact--info span:hover
{
    color: #fa9e1b;
}
.copyright
{  
    text-align: center;
    display: block;
    margin-top: 35px;
    color: #e8a0bf;
    font-weight: 700;
}
.copyright a
{  
    color: rgb(201, 102, 148);;
}
ul 
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.footer__container--social img
{
    width: 30px;
    margin-right: 3em;
}
img.footer__container--logo
{
    width: 10em;
}
.footer__container__info--img img
{
   display: block;
   max-width: 100%;
   width: 20px;
   margin-right: 10px;
}
.footer__container__contact--info
{
    display: flex;
    align-items: center;   
    margin-bottom: 10px;    
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px; 
    margin-right: -4px;
    justify-content: space-between;
}
a.download
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0;
    height: 35px;
    width: 20px;

}
section .menu.flex
{
    margin: 0 7rem;
    position: relative;
}
.citySelect
{
    display: none !important;
    position: absolute;
}
.content:hover .citySelect 
{
    background-color: #fff;
    display: block !important;
    border: 1px solid #ebebeb;
    box-shadow: 0 -2px 4px #00000012;
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
    min-width: 120px;
    padding: 10px 0;
}
.city-item > a
{
    padding: 0 10px;
}
ul.menu
{
    line-height: 40px;
    justify-content: space-between;
}
.city-item > a:hover
{
    color: red;
}

li.link
{
    padding: 0 20px;
}
section .flex.contents {
    align-items: flex-start;
    margin: 0 3rem;
}
.left {
    width: 20%;
   

}
.right {
    width: 80%;
}
.v-menu {
    display: block !important;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: auto;
    padding: 10px 0;
    text-align: center;
}
section ul.menu > li > a:hover {
    color: red;
}
div.products {
    display: flex;
    flex-wrap: wrap;
}

div.product {
    width: 20%;
    padding: 10px;
}

div.product > div {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--bg);
    position: relative;
    overflow: hidden;
}
div.product img {
    width: 100%;
    transition: transform ease-in 2s;
}

div.product img:hover {
    transform: scale(1.2);
}
button
{
    margin: auto;
    display: block;
}
@keyframes doimau {
    0% {
      background-color: gold;
    }
    25% {
      background-color: aquamarine;
    }
    75% {
      background-color: cadetblue;
    }
    100% {
      background-color: blue;
    }
  }
div.promo {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    background-color: gold;
    color: red;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 8px;
    animation: doimau 2s infinite;
}