:root {
    --bg:#f1e7e7;
    --width:80%
}
*
{  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a
{
    color: #333;
    text-decoration: none;
} 
.flex {
    display: flex;
    
}

nav {
    background-color: #F7E2E2;
    height: 60px;
    color: #180A0A;
}

nav.flex div.flex ul li {
    margin-left: 20px;
}

nav.flex div.flex ul li a:hover {
    color: red;
}

/*phần header trong body*/

header {
    background-color:#f1e7e7;
    font-size: 18px;
    position:relative;
}

header > div > img {
    width: 150px;
    top:50%;
    transform: translateY(-50%);
    position:absolute;
    left: 20px;
}

div.find > input{
    width:500px;
    font-size:20px;
}

.find > input{
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    border: 1px dotted white;
}

div.flex {
    margin: auto;
}

header ul.menu li {
    
    border: 1px solid beige;
    background-color: beige;
    border-radius: 15px;
    margin: 3px;
}

header ul.menu li a {
    display: block;
    padding:10px;
}

header ul.menu li a:hover {
    background-color: darkblue;
    color:white;
    border-radius: 15px;
    
}
div.ads img {
    width: 500px;
    display: block;
    padding: 5px;
    margin: 5px;
    align-items: center;
}
footer 
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: var(--bg) ;
}

.info span:hover
{
    color: #fa9e1b;
}
.copyright
{  
    text-align: center;
    display: block;
    margin-top: 35px;
    color: #e8a0bf;
    font-weight: 700;
}
.copyright a
{  
    color: rgb(201, 102, 148);;
}
ul 
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.social img
{
    width: 30px;
    margin-right: 3em;
}
img.logo
{
    width: 10em;
}
.infoimg img
{
   display: block;
   max-width: 100%;
   width: 20px;
   margin-right: 10px;
}
.info
{
    display: flex;
    align-items: center;   
    margin-bottom: 10px;    
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px; 
    margin-right: -4px;
    justify-content: space-between;
}
a.download
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0;
    height: 35px;
    width: 20px;

}
section .menu.flex
{
    margin: 0 7rem;
    position: relative;
}
.citySelect
{
    display: none !important;
    position: absolute;
}
.content:hover .citySelect 
{
    background-color: #fff;
    display: block !important;
    border: 1px solid #ebebeb;
    box-shadow: 0 -2px 4px #00000012;
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
    min-width: 120px;
    padding: 10px 0;
    z-index: 100;
}
.city-item > a
{
    padding: 0 10px;
}
ul.menu
{
    line-height: 40px;
    justify-content: space-between;
}
.city-item > a:hover
{
    color: red;
}

li.link
{
    padding: 0 20px;
}
section .flex.contents {
    align-items: flex-start;
    margin: 0 3rem;
}
.left {
    width: 20%;
   

}
.right {
    width: 80%;
}
.v-menu {
    display: block !important;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: auto;
    padding: 10px 0;
    text-align: center;
}
section ul.menu > li > a:hover {
    color: red;
}

div.products {
    display: flex;
    flex-wrap: wrap;
}

div.product {
    width: 20%;
    padding: 5px;
}

div.product > div {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--bg);
    position: relative;
    overflow: hidden;
}
div.product img {
    width: 100%;
    transition: transform ease-in 2s;
}

div.product img:hover {
    transform: scale(1.2);
}
.button
{
    margin: auto;
    display: block;
    background-color: var(--bg);
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 10px;
}
@keyframes doimau {
    0% {
      background-color: gold;
    }
    25% {
      background-color: aquamarine;
    }
    75% {
      background-color: cadetblue;
    }
    100% {
      background-color: blue;
    }
}
@keyframes changepro {
    0% {
        color: rgb(224, 202, 75);
    }
    25% {
        color: rgb(250, 158, 27);
    }
    75% {
        color:#add325
    }
    100% {
        color: #bdba2d;
    }
}
div.promo {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    background-color: gold;
    color: red;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 8px;
    animation: doimau 2s infinite;
}
div.news{
    display:flex;
    flex-wrap: wrap;

}
div.new{
    width: 20%;
    padding: 5px;
}
div.new > div {
    border: 1px groove var(--bg) ;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(var(--bg),#f5ecf5,var(--bg));
}
div.new img {
    width: 100%;
}
.star > i {
    color: yellow;
}
div.promotion >i
{
    animation: changepro 2s infinite;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2.subject {
    
    font-size: 1.5rem;
    color: rgb(95, 95, 190);
    text-shadow: 3px 4px 4px rgb(95, 95, 190);    
}
div.markets{
    display:flex;
    flex-wrap: wrap;

}
div.market{
    width: 20%;
    padding: 5px;
}
div.market > div {
    border: .5px groove var(--bg) ;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
div.market  img {
    border-radius: 8px;
    transition: all .15s linear;
    width: 100%;
}
div.promot >i{
    color: red;
}
.viewall {
    color: inherit;
    font-weight: bold;
    display: inline-block;
    padding: 15px 25em;
    text-align: center;
}
.shipper
{
    margin: 70px 0;
}
.fighter {
    height: 100%;
    margin: 0;
    justify-content: space-between;
}
div.title {
    align-items: center;
    display: flex;
    position: relative;
    text-transform: uppercase;
    padding: 7px 10px 7px;
    color: red;
}
div.fighter {
    display: flex;
    background-image: url(/images/shipper.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000012;
    display: flex;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
}
.fighter h3{
    
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.fighter p {
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.subscribe a {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    width: 200px;
    background-color:red;
    border-radius: 10px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 20px;
    text-align: center;
}
