*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --width: 100%;
    --bg: #f1e7e7;

}
div {
    display: block;
}
img.logo{
    width: 150px;
}
.built {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section1 {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
   
}
.section2 {
    padding: 150px 0 150px;
    position: absolute;
   
}
.row1 {
    display: flex;
    padding: 0 130px 0;
  
}
.col1 {
   width: 300px;
   height: 200px;
}
.col2 {
    width: 300px;
    height: 200px;
}
.col3 {
    width: 300px;
    height: 200px;
}
h1 {
    color:red;
    text-transform: capitalize;
    font-size: 32px;
}
.content {
    color: #333;
    position: absolute;
    bottom: 100px;
    max-width: 1180px;
    left: 130px;
}
.content p {
    font-weight: 500;
    color: #161313;

}
.content h2 {
    color: #e0132b;
    align-items: center;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;

}
.row1 h3 {
    color: #e0132b;
    font-size: 20px;
    text-align: center;

}
.row1 img {
    padding: 10px 100px;
}
.form {
    border: 2px solid var(--bg);
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    padding: 25px;
    background: #fff;
    position: absolute;
    top: 38px;
    right: 138px;
}
.form h3 {
    color:red;
    text-transform: capitalize;
    font-size: 32px;
    margin: 0 0 15px 0;
}
p {
    margin: 0 0 10px;
}
input {
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    border: 1px solid #979797;
    padding: 0 15px;
}
.formgroup {
    margin-bottom: 15px;
}
.row {
    display: flex;
}
.name {
    padding-right: 10px;
}
.surname  {
    padding-left: 10px;
}
.bForm {
    background: #e0132b;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    border: transparent;
}
