@media screen and (max-width: 1023px) {
    div.product {
        width: 33.33%;
    }
    div.new {
        width: 33.33%;
    }
    .promotion {
        display: none;
    }
    div.news >.new:last-child 
    {
        display: none;
    }
    div.market{
        width: 50%;
    }
    #del {
        display: none;
    }
    .viewall {
        margin: 0 auto;
        padding: 15px 0;
    }
    nav.flex {
        display: none;
    }
    header > div > img {
        width: 100px;
    }
    div.find > input{
        width:230px;
        font-size:15px;
    }
    li.link:nth-child(3),  li.link:nth-child(4), li.link:nth-child(5){
        display: none;
    }
    .v-menu {
        margin-top: 300px;
    }
    header ul.menu li a {
        padding: 0;
    }
    li.link{
        padding: 0 30px;
    }
    h2.subject {
        text-align: center;
    }
    .download {
        margin: 0 300px;
    }
    .main, .contact {
        margin: 0 15px;
    }
    .bonus{
        width: 300px;
        height:400px;
    }
    .voucher{
        display: none;
    }
    div.title {
        text-align: center;
    }
}
